@font-face {
    font-family: "fontBold";
    src: url("./NotoSansKR/NotoSansKR-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "fontMedium";
    src: url("./NotoSansKR/NotoSansKR-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "fontLight";
    src: url("./NotoSansKR/NotoSansKR-Black.ttf") format("truetype");
  }
